<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>



</head>
<body>
<h2> 진수 page </h2>

 	<a href="/reply">가보자</a> </br>
	
	
  
    <a href="index.html">돌아가기 </a>
    
 
<script>


 </script>

<script type="text/javascript" src="/js/jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.easypiechart.js"></script>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/js/jquery.placeholder.ls.js"></script>
<script type="text/javascript" src="/js/jquery.selectric.min.js"></script>
<script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 


</body>
</html>